.title {
    color: rgb(0, 0, 0);
    border:  rgb(109, 105, 88) solid;
    margin: 3rem 40rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red {box-shadow: inset;}

.image {
    height: 600px;
    width: 800px;
    margin: 3rem 20rem;
  }